.products-title {
    margin-bottom: 40px;
    padding-left: 30px;
    padding-top: 40px;
    text-transform: uppercase;
    color: gray;
}
.products-list {
    padding: 0 30px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 50px;
}

