.App {
  height: 100vh;
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  
  background: linear-gradient(to right, #636FA4, #E8CBC0); 
}

.App-header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

