.cart-wrapper {
    display: grid;
    grid-template-columns:  auto 250px;
       grid-template-rows: 440px auto;
    grid-template-areas: 
    "products cartForm"
    "products cartForm"
 
}

.cart-list {
    grid-area: products;
}
