.products-item {
    position: relative;                  
    padding: 15px;
    box-shadow: -2px 1px 14px -4px rgba(34, 60, 80, 0.22);
    transition: all 0.3s linear;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    }

.products-item__img-box {
    margin-bottom: 30px;
    padding-top: 40px;
    height: 170px;
}

.products-item__img {
display: block;
margin: 0 auto;
max-height: 140px;
max-width: 100%;
  }

.products-item__tag{
color: rgb(114, 112, 112);
&--color{
margin-bottom: 0;
text-transform: capitalize;
}
}

.products-item__btn {
 position: absolute;
 right: 15px;
}
